{% extends 'base.html.j2' %}

{% block content %}
    <h1>Cart </h1>
    {% if product %}
    <form action="{{url_for('cart')}}" method="POST">
        <div class="container" div style="text-align:center">
        <h3>Here are the items in your cart:</h3>
        {% for product in products %}
            <ul class="list-group">
                <li class="list-group-item">{{product['name']}}</li>
                <li class="list-group-item">{{product['price']}}</li><br>
            
            </ul>
            <button type="button" class="btn btn-outline-warning">Check Out?</button>
        {% endfor %}
        </div>
     {% endif %}
{% endblock %}