{% extends 'base.html.j2' %}

{% block content %}
    <h1>Contact Us</h1>
    <small>For any inquiries please contact:<br>
    1(800)310-5628 or email: helponaisle5@theshop.com
    
    </small>
{% endblock %}